
:root{
  --bgc:#faf8f6;
  --text:#1a1a1a;
  --brand:#111213;
  --primary-clr:#ED526C;
  --primary-dark:#e04560;
  --border:#e7e2dd;
  --border2:#ED526C ;
  --partext:#636363;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  background:var(--bgc);
  color:var(--text);
  font-family:"Inter", sans-seri;
}

.container {
   width: 100%;
   max-width: 1440px;
   padding-inline: 150px;
   /* padding-block: 16px; */
   margin-inline: auto;
   /* display: flex;
   align-items: center; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding-block: 16px;
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo p {
    display: inline-block;
}
 
.logo img {
    width: 32px;
}

.links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.links a{
    text-decoration: none;
    color:var(--text);
    font-weight: 500;
    opacity: .8;
}

.links a:hover {
  opacity: 1;
}

.login {
    padding-inline: 24px;
    padding-block: 12px;
    background-color: var(--primary-clr);
    border-radius: 8px;
    color: white;
    text-decoration: none;
    box-shadow:0 10px 24px #ee5a7240;
}

.login:hover {
    background-color: var(--primary-dark);
}

.login a {
    text-decoration: none;
    color: white;
}

/* .btn2 a{
    padding-inline: 24px;
    padding-block: 12px;
    background-color: #ED526C;
    border-radius: 8px;
    color: white;
    display: inline-block;
    text-decoration: none;
} */

     /* hero-section */

.divider{
    border: 1px solid var(--border);
}

.para {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.hero-section {
    padding: 50px 150px;
    display: flex;
    align-items:center;
    gap: 4rem;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.para {
    color: var(--partext);
}

.content h1 {
    font-size: 3rem;
}

/* .hero-img {
    background-image: url("Images/image.png");
    background-position: center;
    width: 400px;
} */

.btn2 {
   display:flex;
   gap:16px;
   align-items:center;
}

.play-btn {
    padding-inline: 24px;
    padding-block: 12px;
    background-color: var(--primary-clr);
    border-radius: 8px;
    color: white;
    display: inline-block;
    text-decoration: none;
    box-shadow:0 10px 24px rgba(238,90,114,.25);
}

.play-btn:hover {
    background-color: var(--primary-dark);
}

.create-btn {
    padding-inline: 24px;
    padding-block: 12px;
    border-radius: 8px;
    color: var(--text);
    text-decoration: none;
    border: 1px solid var(--border2);
    background-color:#ffff;
}

.create-btn:hover {
    border-color: var(--primary-dark);
     box-shadow:0 6px 16px rgba(0,0,0,.06);
}